<h1>Intelligent Computer Systems Practice Works</h1>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li [class.active]="router.url==='/genetic'">
                    <a routerLink="/genetic">Genetic Algorithm</a>
                </li>
                <li [class.active]="router.url==='/genprogramming'">
                    <a routerLink="/genprogramming">Genetic Programming</a>
                </li>
                <li [class.active]="router.url==='/backprop'">
                    <a routerLink="/backprop">Back Propagation</a>
                </li>
                <li [class.active]="router.url==='/c45'">
                    <a routerLink="/c45">Decision Trees</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
