<div class="container">
    <form #gpForm="ngForm" (submit)="run()">
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="xSize">X size:</label>
                <input type="number" id="xSize" name="xSize" class="form-control" required [(ngModel)]="xSize"
                       #xSizeCtrl="ngModel">
                <div *ngIf="xSizeCtrl.invalid && (xSizeCtrl.dirty || xSizeCtrl.touched)" class="alert alert-danger">
                    <div *ngIf="xSizeCtrl.errors.required">
                        Required field
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="ySize">Y size:</label>
                <input type="number" id="ySize" name="ySize" class="form-control" required [(ngModel)]="ySize"
                       #ySizeCtrl="ngModel">
                <div *ngIf="ySizeCtrl.invalid && (ySizeCtrl.dirty || ySizeCtrl.touched)" class="alert alert-danger">
                    <div *ngIf="ySizeCtrl.errors.required">
                        Required field
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="allowedSteps">Allowed steps:</label>
                <input type="number" id="allowedSteps" name="allowedSteps" class="form-control" required
                       [(ngModel)]="allowedSteps"
                       #allowedStepsCtrl="ngModel">
                <div *ngIf="allowedStepsCtrl.invalid && (allowedStepsCtrl.dirty || allowedStepsCtrl.touched)"
                     class="alert alert-danger">
                    <div *ngIf="allowedStepsCtrl.errors.required">
                        Required field
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label for="n">Initial program size:</label>
                <input type="number" id="n" name="n" class="form-control" required [(ngModel)]="n" #nCtrl="ngModel">
                <div *ngIf="nCtrl.invalid && (nCtrl.dirty || nCtrl.touched)" class="alert alert-danger">
                    <div *ngIf="nCtrl.errors.required">
                        Required field
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="populationSize">Population size:</label>
                <input type="number" id="populationSize" name="populationSize" class="form-control" required
                       [(ngModel)]="populationSize" #populationSizeCtrl="ngModel">
                <div *ngIf="populationSizeCtrl.invalid && (populationSizeCtrl.dirty || populationSizeCtrl.touched)"
                     class="alert alert-danger">
                    <div *ngIf="populationSizeCtrl.errors.required">
                        Required field
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <label for="generationNumber">Number of generations:</label>
                <input type="number" id="generationNumber" name="generationNumber" class="form-control" required
                       [(ngModel)]="generationNumber" #generationNumberCtrl="ngModel">
                <div *ngIf="generationNumberCtrl.invalid && (generationNumberCtrl.dirty || generationNumberCtrl.touched)"
                     class="alert alert-danger">
                    <div *ngIf="generationNumberCtrl.errors.required">
                        Required field
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 form-group">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#worldMap">World Map
                </button>
                <button type="submit" class="btn btn-success" [disabled]="gpForm.invalid">Run</button>
            </div>
            <div class="col-md-4 form-group">
                <label for="seed">Seed:</label>
                <input type="text" pattern="\d*" id="seed" name="size" class="form-control" [(ngModel)]="seed"
                       #seedCtrl="ngModel">
                <div *ngIf="seedCtrl.invalid && (seedCtrl.dirty || seedCtrl.touched)" class="alert alert-danger">
                    <div *ngIf="seedCtrl.errors.pattern">
                        Wrong number
                    </div>
                </div>
            </div>
        </div>
        <label for="log">Results:</label>
        <textarea id="log" name="log" [(ngModel)]="log" readonly></textarea>
    </form>
</div>
<ant-world modalId="worldMap" [xSize]="xSize" [ySize]="ySize" [allowedSteps]="allowedSteps"
           (setFeed)="saveFeed($event)"></ant-world>
